.container {
  min-height: 100vh;
  flex-grow: 1;
  background-color: #f3f4f5;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  text-align: center;
  font-size: 8rem;
}

.title a,
.titleContainer a {
  color: #00cba9;
  text-decoration: none;
  border-bottom: 0;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 500;
}

.pageTitle {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.submitContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 2rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #00cba9;
  border-color: #00cba9;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logoTitle {
  flex-grow: 1;
}

.paper {
  margin: 2rem;
  padding: 2rem;
}

.moreContainer {
  text-align: center;
  padding-top: 2rem;
}

.paperColumn {
  padding: 1rem;
  height: 100%;
}

.item {
  cursor: pointer;
}

.map {
  width: 100%;
  border: 0;
}

.svg {
  display: inline-block;
  height: 12px;
}

.saldo {
  font-weight: 500;
}

.valor {
  margin-top: 1rem;
  font-weight: 500;
}

.saldo span {
  color: #00cba9;
  font-weight: 500;
  font-size: 1.1rem;
}

.interactionButton {
  padding-top: 0.8rem;
  padding-bottom: 0rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
